Explicitly restrict permitted challenge types for OpenID Federation ACME identifiers

The draft defines a new ACME identifier type `openid-federation`, and a new ACME challenge type `openid-federation-01`, but we don't make it clear that they can only be used together. We should follow the precedent of [RFC 8738 section 4](https://datatracker.ietf.org/doc/html/rfc8738#section-4) and make this explicit. Additionally, the IANA considerations section should add entries similarly to [RFC 8738 section 8.2](https://datatracker.ietf.org/doc/html/rfc8738#section-8.2)

openid-federation represents the newOrder type identifier, while openid-federation-01 represents the first step after the newOrder, related to the challenge

as discussed during the call of 18 feb 2025, we have decided that we must include noamtive language restricting the use of openid-federation0* challenge type identifier when the newOrdewr type identifier is openid-federation.

 