Rearrange Section 6

I would rearrange Section 6 to more closely reflect previous RFCs which have introduced new identifier types and corresponding challenges, such as [RFC 8738](https://www.rfc-editor.org/rfc/rfc8738.html). Specifically, I believe the most readable flow here is:

1. Define the new identifier type (currently very vaguely defined in Section 6.5). Describe, as per [RFC 8555, Section 7.4](https://datatracker.ietf.org/doc/html/rfc8555#section-7.4), where in the CSR these identifiers can appear (currently Section 6.7.1)
2. Define the new challenge type, how the client fulfills the challenge, and how the server validates the challenge (currently Section 6.7). This would also include Section 6.4.2, since the validation protocol requires that the Requestor's Entity Configuration Metadata be correct for validation to succeed.
3. Then, in a new top-level section, discuss discovery. This is where the Preconditions (currently Section 6.1), Discovery (Section 6.2), and Issuer Metadata (Section 6.4.1) would move to. This is placed lower in the document because, as far as I can tell, it's not actually necessary for the ACME challenge validation to succeed. It's just a mechanism for clients and servers to discover each other in a federation. I almost question whether it belongs in this document, as it is describing extensions to a non-ACME protocol, but this is probably fine.

Resolving this is blocked on the question of discovery (#109).